/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: block;
	background-color:#00005F;
}

#header-logo {
	height: 100%;
	width: 100%;
	display: block;
	opacity: 0;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	transition: opacity 1s linear;
	background-image:url("../pat_vdot.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#header-logo.dikhraha {
	opacity: 1;
	transition: opacity 1s linear,
		        height 0.5s linear;
}

#header-logo.chhota {
	height: 300px;
}

#content{
	width:100%;
	text-align:center;
	display:none;
	font-family: 'Bree Serif', serif;
	font-size:24px;
	color:#F1F1F1;
}

#content h1 {
	font-size: 42px;
}

.button-box {
	width: 50%;
	float: left;
	position:relative;
}

.button {
	width: 70%;
	height: 80%;
	margin:20px auto;
	text-align: center;
	background-color:#EDEDED;
	padding: 10px 0;
	position:relative;
	color:#363636;
	transition: background-color 0.2s linear,
				color 0.2s linear;
}

.button span {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;	
}

.button:hover {
	background-color:#494949;
	color:#E5E5E5;	
	transition: background-color 0.2s linear,
				color 0.2s linear;
}

@media only screen and (max-width: 768px) {
	.button-box {
		width: 100%;	
	}
}