/* CSS Document */

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: block;
}

#shareer {
	height: 100%;
	width: 100%;
	position: absolute;
}

.bootfix {
	padding: 0;
	margin: 0;
}

#header-logo {
	height: 100%;
	width: 100%;
	display: block;
	opacity: 0;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	transition: opacity 2s linear;
	background-image:url("../pat_vdot.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#header-logo.dikhraha {
	opacity: 1;
	transition: opacity 2s linear,
		        height 1s linear;
}

#header-logo.chhota {
	height: 400px;
}

#gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 0;
  display:none;
}

#gradient2 {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: -7;
  background-image: -webkit-radial-gradient(80% 10%, circle, rgb(27,186,135), transparent),  -webkit-radial-gradient(80% 50%, circle, rgb(58,164,178), transparent),  -webkit-radial-gradient(20% 80%, rgb(14,4,56), transparent),  -webkit-radial-gradient(10% 10%, circle, rgb(68,242,215), transparent);
  display:none;
}

#large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}