/* CSS Document */

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: block;
}

#header-logo {
	height: 100%;
	width: 100%;
	display: block;
	opacity: 0;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	transition: opacity 2s linear;
	background-image:url("../pat_vdot.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#header-logo.dikhraha {
	opacity: 1;
	transition: opacity 2s linear,
		        height 1s linear;
}

#header-logo.chhota {
	height: 400px;
}

#content{
	position:absolute;
	top:450px;
	width:100%;
	text-align:center;
	display:none;
	font-family:'Calibri';
	font-size:36px;
}

#gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: -2;
}

#gradient2 {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: -7;
  background-image: -webkit-radial-gradient(80% 10%, circle, rgb(1,0,127), transparent),  -webkit-radial-gradient(80% 50%, circle, rgb(8,120,0), transparent),  -webkit-radial-gradient(20% 80%, rgb(147,0,0), transparent),  -webkit-radial-gradient(10% 10%, circle, rgb(201,112,0), transparent);
}